In [32]:
# ! pip install seaborn

In [33]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic = titanic[['survived','sex','pclass','age']]
titanic.tail()

     survived     sex  pclass   age
886         0    male       2  27.0
887         1  female       1  19.0
888         0  female       3   NaN
889         1    male       1  26.0
890         0    male       3  32.0

In [34]:
titanic.dropna(axis=0,inplace=True)
titanic['sex'].replace(['male','female'],[0,1],inplace=True)
titanic

C:\Users\orsys\AppData\Local\Temp\ipykernel_5904\463347596.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['sex'].replace(['male','female'],[0,1],inplace=True)
C:\Users\orsys\AppData\Local\Temp\ipykernel_5904\463347596.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic['sex'].replace(['male','female'],[0,1],inplace=True)

     survived  sex  pclass   age
0           0    0       3  22.0
1           1    1       1  38.0
2           1    1       3  26.0
3           1    1       1  35.0
4           0    0       3  35.0
..        ...  ...     ...   ...
885         0    1       3  39.0
886         0    0       2  27.0
887         1    1       1  19.0
889         1    0       1  26.0
890         0    0       3  32.0

[714 rows x 4 columns]

In [35]:
y = titanic['survived'] # Features
X = titanic.drop('survived',axis=1) # Label

In [36]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pandas as pd
n = KNeighborsClassifier()
n.fit(X,y)
n.score(X,y)


df_me = pd.DataFrame(np.array([0,3,48]).reshape(1,3), columns=X.columns)
n.predict(df_me)

array([0])