In [18]:
a = 2

In [19]:
a

2

In [20]:
from CustomerDAO import CustomerDAO
dao=CustomerDAO('..\customers_db.db')

In [21]:
# ! pip install pandas

In [22]:
import pandas as pd
df = pd.DataFrame(dao.findAll())

In [23]:
df

,id,first_name,last_name,email,gender,ip_address
0,1,Ardith,Birrell,abirrell0@trellian.com,Female,29.2.157.39
1,2,Emerson,Lidgertwood,elidgertwood1@bluehost.com,Male,138.193.155.250
2,3,Gerrard,Casse,gcasse2@nps.gov,Male,127.213.206.109
3,4,Daffie,Bleddon,dbleddon3@digg.com,Female,105.118.134.162
4,5,Skippie,Stoddard,sstoddard4@squarespace.com,Genderqueer,110.184.155.62
...,...,...,...,...,...,...
995,996,Beaufort,Allsworth,ballsworthrn@so-net.ne.jp,Male,99.63.230.152
996,997,Nikita,Edwards,nedwardsro@comcast.net,Male,66.102.5.203
997,998,Gabriella,Mauditt,gmaudittrp@weather.com,Bigender,145.133.52.145
998,999,Jacynth,Grioli,jgriolirq@ycombinator.com,Female,177.85.132.130
999,1000,Joy,Hollier,jhollierrr@toplist.cz,Female,200.168.10.93